.bingo-card .background {
  fill: #f0cd78;
}

.square .background {
  fill: #ffffff;
}

.bingo-card .titles text {
  fill: #aa78f0;
  filter: drop-shadow(2px 2px 2px #d6ab40);
}

.editor {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.controls {
  flex-basis: 20em;
  flex-grow: 2;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.container {
  flex-grow: 1;
  margin: 1em;
  flex-basis: 10em;
  background-color: #efefef;
  padding: 1em;
}

.container.big {
  flex-grow: 1;
}

.container h2 {
  text-align: center;
}

.common-values {
  margin: 0.5rem 0;
}

.values li {
  overflow-wrap: break-word;
  margin: 0.5rem 0;
}

.no-values {
  display: block;
  padding: 1em;
  margin: 2rem;
  opacity: 0.5;
  text-align: center;
}

.value {
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1px;
}

.unused {
  color: #cccccc;
}

.dragged {
  opacity: 0.2;
}

.hovered {
  font-weight: bold;
  border: 1px dashed #000000;
  padding: 0;
}

.bin {
  margin: 2rem;
  opacity: 0.2;
  background-color: #eeaaaa;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 1em;
}

.bin.enabled {
  opacity: 1;
  background-color: #eeaaaa;
}

form div {
  margin: 0.4em;
}

.pure-form .form-row {
  display: flex;
  margin: 0;
  padding: 0;
}

.pure-form .form-row .pure-input-1 {
  flex-grow: 1;
  min-width: 1em;
}

.pure-form .form-row button {
  margin: 0 0 0 0.25em;
}

.errors {
  position: fixed;
  bottom: 0;
  left: 1em;
  max-width: 75%;
  background-color: lightpink;
  padding: 1em;
  border-radius: 1em 1em 0 0;
}

.errors .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.errors ol {
  overflow: auto;
}
